.aside {
  display:block;
  background-color: #F9F9F9;
  border-right: 1px solid #DEDEDE;
  overflow: auto;
}
.aside .compose {
  height: 95px;
  margin:0 -10px;
  padding: 25px 30px;
}
.aside .compose .button {
  color: #F6F7F7;
}
.aside .compose .button .compose {
  font-size: 14px;
  font-weight: 700;
}
.aside .main {
  padding: 40px;
  color: #6F7B7E;
}
.aside .title {
  color: #6F7B7E;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}
.aside .main .item {
  display: block;
  padding: 10px 0;
  color: #6F7B7E;
}
.aside .main .item.active {
  background-color: #F1F1F1;
  margin: 0 -50px;
  padding-left: 50px;
}
.aside .main .item:active,.aside .main .item:hover {
  background-color: #F2F2F2;
  margin: 0 -50px;
  padding-left: 50px;
}
.aside .main .icon {
  font-size: 19px;
  padding-right: 30px;
  color: #A0A0A0;
}
.aside .main .name {
  font-size: 15px;
  color: #5D5D5D;
  font-weight: 500;
}
#message-feed {
  position: relative;
}
.message {
  height: inherit;
  overflow-y: auto;
}
.is-position-absolute-bottom {
  position: absolute;
  bottom: 0;
  width: inherit;
}
.is-position-relative {
  position: relative;
}
.is-position-relative.is-overflow-auto {
  overflow-y: auto;
}
.is-fullheight-page {
  height: calc(100vh - 52px) !important;
}